# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2023 Ambiq Micro Inc. <www.ambiq.com>

config BOARD
	default "apollo3p_evb"
	depends on BOARD_APOLLO3P_EVB

config SYS_CLOCK_TICKS_PER_SEC
	default 1024