/*
 * Copyright (c) 2026 Ambiq Micro, Inc.
 * SPDX-License-Identifier: Apache-2.0
 */

/* Disable the AES node so its ISR doesn't conflict with ChaCha on IRQ 24 */
&cc312_aes {
	status = "disabled";
};

&cc312_chacha {
	status = "okay";
};
