# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2023 Antmicro <www.antmicro.com>

config BOARD_APOLLO4P_STMOBO2
	bool "Ambiq Apollo4 Plus System Test Motherboard Rev2"
	depends on SOC_APOLLO4P
