# SPDX-License-Identifier: Apache-2.0
#
# Copyright (c) 2024 Ambiq Micro Inc.

if SOC_SERIES_APOLLO5X

source "soc/arm/ambiq/apollo5x/Kconfig.defconfig.apollo5*"

config SOC_SERIES
    default "apollo5x"

endif # SOC_SERIES_APOLLO5X
