/*
 * Copyright (c) 2022 STMicroelectronics
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&mspi0 {
	compatible = "ambiq,mspi";
	status = "okay";
	cs-gpios = <&gpio32_63 5 (GPIO_PULL_UP | GPIO_ACTIVE_HIGH)>;
};

&mspi1 {
	status = "disabled";
};

&mspi2 {
	status = "disabled";
};