/*
 * Copyright (c) 2026 Ambiq Micro Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 * apollo510_evb does not label the spi child of any iom, so reach it through
 * the parent. Only the nodes need to exist for the test to build; looping
 * MOSI back to MISO is a bench step for running it.
 */
&iom0 {
	spi0: spi {
		pinctrl-0 = <&spi0_default>;
		pinctrl-names = "default";
		clock-frequency = <1000000>;
		status = "okay";

		slow@0 {
			compatible = "test-spi-loopback-slow";
			reg = <0>;
			spi-max-frequency = <500000>;
		};

		fast@0 {
			compatible = "test-spi-loopback-fast";
			reg = <0>;
			spi-max-frequency = <8000000>;
		};
	};
};
