/*
 * Copyright (c) 2025, Ambiq Micro Inc. <www.ambiq.com>
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	aliases {
		spi-psram = &spi_psram;
	};
};

&iom4 {
	cmdq-buffer-location = "SRAM_NO_CACHE";
	cmdq-buffer-size = <256>;

	spi4: spi {
		pinctrl-0 = <&spi4_default>;
		pinctrl-names = "default";
		cs-gpios = <&gpio0_31 14 GPIO_ACTIVE_LOW>;
		clock-frequency = <DT_FREQ_M(24)>;
		status = "okay";
		spi_psram: aps6404l@0 {
			compatible = "apm,aps6404l";
			reg = <0>;
			spi-max-frequency = <48000000>;
		};
	};
};
