# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config LOG_BACKEND_AMBIQ_SWO
	bool "Serial Wire Output (SWO) backend"
	depends on HAS_SWO
	select AMBIQ_HAL
	select AMBIQ_HAL_USE_ITM
	select AMBIQ_HAL_USE_TPIU
	select AMBIQ_HAL_USE_DCU
	select PINCTRL
	select LOG_OUTPUT

if LOG_BACKEND_AMBIQ_SWO
config LOG_BACKEND_AMBIQ_SWO_FREQ_HZ
	int "Set SWO output frequency"
	default 1000000
	help
	  Set SWO output frequency. Not all debug probes support high
	  frequency SWO operation. In this case the frequency has to be set
	  manually.

	  SWO value defined by this option will be configured at boot. Most SWO
	  viewer programs will configure SWO frequency when attached to the
	  debug probe. Such configuration will persist only until the device
	  reset. To ensure flawless operation the frequency configured here and
	  by the SWO viewer program has to match.

backend = AMBIQ_SWO
backend-str = ambiq_swo
source "subsys/logging/Kconfig.template.log_format_config"

endif # LOG_BACKEND_AMBIQ_SWO
