# Copyright (c) 2026 Your Name
# SPDX-License-Identifier: Apache-2.0

config INPUT_CHSC6540
	bool "CHSC6540/6x40 capacitive touch panel driver"
	default y
	depends on DT_HAS_CHIPSEMI_CHSC6540_ENABLED
	select GPIO
	select I2C
	select INPUT_TOUCH
	help
	  Enable driver for Chipsemi CHSC6540/6x40 capacitive touch panel controller.
