name: Manifest
on:
  pull_request_target:

permissions:
  contents: read
  pull-requests: write
  issues: write

jobs:
  contribs:
    runs-on: [self-hosted, Linux, zephyr-ci]
    name: Manifest
    steps:
      - name: Checkout
        env:
          BASE_REF: ${{ github.event.pull_request.base.ref }}
        run: |
          sudo rm -rf "$GITHUB_WORKSPACE"/.??* "$GITHUB_WORKSPACE"/*
          GIT_REF="${{ github.event.pull_request.head.sha }}"
          CACHE_DIR="/data/ambiqzephyrcache/zephyrproject/zephyr"
          if [ -d "${CACHE_DIR}" ]; then
            echo "Cloning from local cache (${CACHE_DIR}) at ${GIT_REF}…"
            git clone --reference "${CACHE_DIR}" \
                      --depth 1 \
                      https://github.com/${{ github.repository }}.git "zephyr"
          else
            echo "Cache not found; doing fresh shallow clone at ${GIT_REF}…"
            git clone --depth 1 \
                      https://github.com/${{ github.repository }}.git "zephyr"
          fi
          cd "zephyr"
          git fetch origin "${BASE_REF}"
          git fetch origin "${GIT_REF}"
          git reset --hard "${GIT_REF}"
          git clean -fdx

      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.12

      - name: Install Python packages
        working-directory: zephyr
        run: |
          pip install -r scripts/requirements-actions.txt --require-hashes

      - name: west setup
        working-directory: zephyr
        run: |
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
          west init -l . || true

      - name: Manifest
        uses: zephyrproject-rtos/action-manifest@09983f53d3d878791aa37a7755ae44d695f4c1e5 # v2.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          manifest-path: 'west.yml'
          checkout-path: 'zephyr'
          use-tree-checkout: 'true'
          check-impostor-commits: 'true'
          label-prefix: 'manifest-'
          verbosity-level: '1'
          labels: 'manifest'
          dnm-labels: 'DNM (manifest)'
          blobs-added-labels: 'Binary Blobs Added'
          blobs-modified-labels: 'Binary Blobs Modified'
